/* Global Start */
* {
    padding: 0px;
    margin: 0px;
    outline: none !important;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    scroll-behavior: smooth;
}

section {
    padding: 100px 0px;
}

@media (max-width:1600px) {
    section {
        padding: 80px 0px;
    }
}

/* End Global */
/*-Typograpghy--*/
h1 {
    font-size: 77px;
    line-height: 87px;
    margin-bottom: 15px;
    color: #333;
    font-weight: 700;
}

h2 {
    font-size: 45px;
    line-height: 55px;
    margin-bottom: 10px;
    font-weight: 700;
}

h3 {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 10px;
    color: #333;
    font-weight: 700;
}

h4 {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 10px;
    color: #3b8df3;
}

p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 10px;
    color: #292929;
}
@media(max-width:992px) {
    h2 {
        font-size: 30px;
        line-height: 40px;
    }

    h3 {
        font-size: 25px;
        line-height: 35px;
    }
}

@media(max-width:767px) {
    h2 {
        font-size: 22px;
        line-height: 30px;
    }

    h3 {
        font-size: 20px;
        line-height: 28px;
    }
}


/*-End Typograpghy--*/
/* Header */
header {
    background: #dbf4fe;
    padding: 0px 100px;
}

.navbar {
    padding: 0px;
}

.navbar-nav .nav-link {
    padding: 15px 30px !important;
    color: #333;
    font-size: 15px;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler-icon {
    height: auto;
}

@media (max-width:767px) {
    header {
        padding: 0px 10px;
    }
}

/* Banner */
.theme-bg {
    background: #dbf4fe;
}

.banner-txt h1 {
    font-size: 4.1vw;
    line-height: calc(4.1vw + 10px);
}

.banner-txt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media (max-width:767px) {
    .banner-txt {
        text-align: center;
    }

    .banner-txt h1 {
        margin: 0 auto 10px;
        font-size: 25px;
        line-height: 33px;
    }
}

/*-End Banner --*/
/* -Modules-part- */
.title-txt {
    margin-bottom: 50px;
}

.title-txt p {
    color: #3b8df3;
    margin-bottom: 30px;
}

.box-module {
    min-height: 358px;
    border: 1px solid #dbf4fe;
    padding: 15px;
    flex-direction: column;
}

.box-module i {
    font-size: 45px;
    color: #3b8df3;
}

.box-module h3 {
    margin: 30px 0px;
}

.cta-text,
.cta-text i {
    font-size: 15px;
    color: #292929;
}

.cta-text {
    margin-top: 35px;
}

.cta-text:hover {
    color: #292929;
}

/* -End Modules-part- */
/* About As */
.about-section {
    background: #f4fcff;
}

/* testimonial */
.testimonial-card {
    border: 2px solid #dbf4fe;
    padding: 20px;
    position: relative;
}

.testimonial-card::before {
    content: "\f10d";
    font-family: 'Font Awesome 5 Free';
    position: absolute;
    font-size: 45px;
    color: #dbf4fe;
    left: 20px;
    top: 10px;
    font-weight: 900;
}

.testimonial-card::after {
    content: "\f10e";
    font-family: 'Font Awesome 5 Free';
    position: absolute;
    font-size: 45px;
    color: #dbf4fe;
    right: 20px;
    bottom: 10px;
    font-weight: 900;
}

.testimonial-row {
    flex-direction: row;
    padding: 50px 0px;
}

.profile-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 20px;
}

.rating i {
    color: #ffba00;
    margin-bottom: 20px;
}

.testimonial-desc p {
    font-style: italic;
}

.signature span {
    display: block;
    font-size: 13px;
}

.signature span:first-child {
    font-weight: bold;
}

/* End Testimonial */
/* footer */
footer {
    background: #2b333e;
}

.footer-top {
    padding: 80px 0px;
}

.info-heading {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 25px;
}

.footer-list {
    padding: 0;
}

.footer-list li {
    display: block;
    margin-bottom: 15px;
}

.footer-list li a {
    text-decoration: none;
    color: #abadb0;
}
.footer-list li a:hover,.footer-info a:hover {
    color: #fff;
}

footer p {
    color: #abadb0;
}

.social-media {
    padding: 0px;
}

.social-media li {
    display: inline-block;
    margin-right: 15px;
}

.social-media li a:hover{
    transform: scale(1.1);
    transition: all 0.5s;
    color: #000;
    background: #fff;
}

.social-media a {
    color: #fff;
    font-size: 15px;
    display: inline-block;
    border: solid 1px #fff;
    border-radius: 50%;
    width: 40px;
    text-align: center;
    line-height: 40px;
    transition: all 0.5s;

}

.footer-info {
    border-top: 1px solid #555c65;
    padding: 30px 0px;
}

.footer-info a {
    margin-bottom: 0px;
    color: #929599;
    font-size: 14px;
}

@media(max-width:767px) {
    footer {
        text-align: center;
    }
}

/* End Footer */